
.modal-dialog-start 
{
    display: flex;
    align-items: flex-start;
    min-height: calc(100% - 1rem);
}

.modal-dialog-end 
{
    display: flex;
    align-items: flex-end;
    min-height: calc(100% - 1rem);
}

.no-border{
    border: none;
}

.no-background{
    background: 0 0;
}

@media (min-width: 576px) 
{     
    .modal-dialog-start, .modal-dialog-end 
    {
      min-height: calc(100% - 3.5rem);
    }
}